<!-- Start Footer Area -->
<footer class="footer">
  <!-- Footer Top -->
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer about">
            <div class="logo">
              <a href="index.html"><img src="img/logo.png" alt="#" /></a>
            </div>
            <p class="text">
              Praesent dapibus, neque id cursus ucibus, tortor neque egestas
              augue, magna eros eu erat. Aliquam erat volutpat. Nam dui mi,
              tincidunt quis, accumsan porttitor, facilisis luctus, metus.
            </p>
            <p class="call">
              Une question? Appelez nous 24/24h et 7/7j<span
                ><a href="tel:123456789">+33 01 00 00 00</a></span
              >
            </p>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Information</h4>
            <ul>
              <li><a href="#">A Propos de nous</a></li>
              <li><a href="#">Faq</a></li>
              <li><a href="#">Termes & Conditions</a></li>
              <li><a href="#">Contactez nous</a></li>
              <li><a href="#">Aide</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Service Client</h4>
            <ul>
              <li><a href="#">Methodes de paiement</a></li>
              <li><a href="#">Retours</a></li>
              <li><a href="#">Livraisons</a></li>
              <li><a href="#">Politique de confidentialité</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer social">
            <h4>Venez nous voir</h4>
            <!-- Single Widget -->
            <div class="contact">
              <ul>
                <li>42 Av Champs Elysées</li>
                <li>75000 Paris.</li>
                <li>info@orinoco.com</li>
                <li>+33 01 00 00 00</li>
              </ul>
            </div>
            <!-- End Single Widget -->
            <ul>
              <li>
                <a href="#"><i class="ti-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="ti-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="ti-flickr"></i></a>
              </li>
              <li>
                <a href="#"><i class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Top -->
  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>Copyright © 2020 Orinoco - All Rights Reserved.</p>
            </div>
          </div>
          <div class="col-lg-6 col-12"></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- The Modal -->
<div id="orinocoModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button class="close">&times;</button>
      </div>
      <div class="modal-body">
        <p id="modal-body">Some text in the Modal..</p>
      </div>
      <div class="modal-footer">
        <a id="get-cart-btn" href="cart.html" class="btn btn-success invisible">Aller au panier</a>
        <button class="btn btn-primary close-btn">Fermer</button>
      </div>
    </div>
  </div>
</div>
