<!-- Header -->
<header class="header shop">
	<!-- Topbar -->
	<div class="topbar">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-12">
					<!-- Top Left -->
					<div class="top-left">
						<ul class="list-main">
							<li><i class="ti-headphone-alt"></i> +33 01 00 00 00</li>
							<li><i class="ti-email"></i> support@orinoco.com</li>
						</ul>
					</div>
					<!--/ End Top Left -->
				</div>
				<div class="col-lg-7 col-md-12 col-12">
					<!-- Top Right -->
					<div class="right-content">
						<ul class="list-main">
							<li><i class="ti-location-pin"></i> Trouver un magasin</li>
							<li><i class="ti-alarm-clock"></i> <a href="#"> L'offre du jour</a></li>
							<li><i class="ti-user"></i> <a href="#">Mon compte</a></li>
							<li><i class="ti-power-off"></i><a href="login.html#">Se Connecter</a></li>
						</ul>
					</div>
					<!-- End Top Right -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Topbar -->
	<div class="middle-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-12">
					<!-- Logo -->
					<div class="logo">
						<a href="index.html"><img src="img/logo.png" width="200" alt="logo"></a>
					</div>
					<!--/ End Logo -->
					<!-- Search Form -->
					<div class="search-top">
						<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
						<!-- Search Form -->
						<div class="search-top">
							<form class="search-form">
								<input type="text" placeholder="Search here..." name="search">
								<button value="search" type="submit"><i class="fas fa-search"></i></button>
							</form>
						</div>
						<!--/ End Search Form -->
					</div>
					<!--/ End Search Form -->
					<div class="mobile-nav"></div>
				</div>
				<div class="col-lg-8 col-md-7 col-12">
					<div class="search-bar-top">

					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-12">
					<div class="right-bar">
						<!-- Search Form -->
						<div class="sinlge-bar">
							<a href="#" class="single-icon"><i class="fas fa-heart" aria-hidden="true"></i></a>
						</div>
						<div class="sinlge-bar">
							<a href="#" class="single-icon"><i class="fas fa-user-circle" aria-hidden="true"></i></a>
						</div>
						<div class="sinlge-bar shopping shopping-cart-icon">
							<a href="cart.html" class="single-icon"><i class="fas fa-shopping-cart"></i> <span class="total-count">0</span></a>
							<!-- Shopping Item -->
							<div class="shopping-item">
								<div class="dropdown-cart-header">
									<span class="shop-cart-items">Pannier Vide</span>
									<a href="/cart.html">Voir mon panier</a>
								</div>
								<ul class="shopping-list">

								</ul>
								<div class="bottom">
									<div class="total">
										<span>Total</span>
										<span class="total-amount">0</span>
									</div>
									<a href="cart.html" class="btn animate">J'ai fini mes achats</a>
								</div>
							</div>
							<!--/ End Shopping Item -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Header Inner -->
	<div class="header-inner">
		<div class="container">
			<div class="cat-nav-head">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="menu-area">
							<!-- Main Menu -->
							<nav class="navbar navbar-expand-lg">
								<div class="navbar-collapse">
									<div class="nav-inner">
										<ul class="nav main-menu menu navbar-nav">
												<li class="active"><a href="/">Accueil</a></li>
												<li><a href="#">Produits</a></li>
												<li><a href="#">Services</a></li>
												<li><a href="cart.html">Mon panier<i class="ti-angle-down"></i><span class="new">New</span></a></li>
											</ul>
									</div>
								</div>
							</nav>
							<!--/ End Main Menu -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Header Inner -->
</header>
<!--/ End Header -->